#!/bin/bash

# {{ if eq .chezmoi.os "darwin" }}
alias update-casks="HOMEBREW_NO_ENV_HINTS=true brew outdated --cask --greedy --verbose | grep -v \"(latest)\" | cut -f1 -d\" \" | xargs brew reinstall --cask"
alias update="softwareupdate --install --all --verbose; mas upgrade; brew update; HOMEBREW_NO_ENV_HINTS=true brew upgrade; update-casks; brew cleanup -s; sdk update; sdk upgrade; chezmoi upgrade; "
# {{ end }}

alias ls="exa"
alias cat="ccat --bg=\"dark\""
alias top="htop"

alias nuke_modules="rm -rf node_modules; npm install; npm prune"
