{{- $name := "Ben Cochez" -}}
{{- $email := "ben@kyber.be" -}}
{{- $username := "benc" -}}

{{- $data := . }}
{{- $_ := set $data "host" (default (dict) (get $data "host")) -}}
{{- $_ := set $data "user" (default (dict) (get $data "user")) -}}
{{- $_ := set $data "username" (default (dict) (get $data "username")) -}}

{{- if stdinIsATTY -}}
{{- $name = promptStringOnce $data.user "name" "Your Name" $name -}}
{{- $email = promptStringOnce $data.user "email" "Your Email" $email -}}
{{- $username = promptStringOnce $data.username "email" "Your username" $username -}}

{{- writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}

{{- else -}}
{{-   $headless = true -}}
{{-   writeToStdout "Chezmoi is running in headless environment.\n" -}}
{{- end -}}

{{ if eq .chezmoi.os "windows" -}}
[interpreters.ps1]
command = "pwsh"
args = ["-NoLogo"]

[cd]
command = "pwsh"
args = ["-NoLogo", "-NoExit", "-Command", "& {Set-Location $env:HOMEPATH/.local/share/chezmoi}"]
{{- end }}

{{ if eq .chezmoi.os "darwin" -}}
[diff]
command = "/usr/local/bin/ksdiff"

[merge]
command = "/usr/local/bin/ksdiff"
{{- end }}

{{ if eq .chezmoi.os "windows" -}}
[diff]
command = "C:/Program Files/Beyond Compare 4/BCompare.exe"

[merge]
command = "C:/Program Files/Beyond Compare 4/BCompare.exe"
{{- end }}

[edit]
command = "codei"

[git]
autoCommit = true

[data]
editor = "codei"

[data.user]
email = {{ $email | quote }}
name = {{ $name | quote }}
username = {{ $username | quote }}
