#!/bin/bash

{{ if eq .chezmoi.os "linux" -}}
echo "💡 Updating apt..."
sudo apt update; sudo apt upgrade -y

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
softwareupdate --install --all --verbose;
{{ end -}}

echo "💡 Updating homebrew..."
brew update; HOMEBREW_NO_ENV_HINTS=true brew upgrade

echo "💡 Updating dev tooling..."
chezmoi upgrade
. "$HOME/.asdf/asdf.sh"
asdf update

if command -v docker >/dev/null 2>&1; then
    echo "💡 Updating portainer agent..."
    # Docker commands
    docker stop portainer_agent
    docker rm portainer_agent
    docker pull portainer/agent:latest
    docker run -d -p 9001:9001 --name portainer_agent --restart=always -v /var/run/docker.sock:/var/run/docker.sock -v /var/lib/docker/volumes:/var/lib/docker/volumes portainer/agent:latest
else
    echo "⚠️ Docker is not installed or not found in the path. Please install Docker."
fi
op_account_size="$(op account list --format=json | jq -r '. | length')"

if [[ "${op_account_size}" == "0" ]]; then
    echo "⚠️ 1password is not configured, run this command to set it up:"
    echo
    echo "   op account add --address $SUBDOMAIN.1password.com --email $LOGIN"
    echo
    exit 1
fi

eval $(op signin)
