#!/bin/bash

{{ if .os.linux -}}
echo "💡 Updating apt..."
sudo apt update; sudo apt upgrade -y

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}

{{ if .os.macos -}}
softwareupdate --install --all --verbose;
mas upgrade;
{{ end -}}

echo "💡 Updating homebrew..."
brew update; HOMEBREW_NO_ENV_HINTS=true brew upgrade

{{ if .os.macos -}}
HOMEBREW_NO_ENV_HINTS=true brew outdated --cask --greedy --verbose | grep -v \"\(latest\)\" | cut -f1 -d\" \" | xargs brew reinstall --cask
{{ end -}}

echo "💡 Updating sdkman..."
. "${HOME}/.sdkman/bin/sdkman-init.sh"
sdk upgrade

op_account_size="$(op account list --format=json | jq -r '. | length')"

if [[ "${op_account_size}" == "0" ]]; then
    echo "1password is not configured, run this command to set it up:"
    echo
    echo "   op account add --address $SUBDOMAIN.1password.com --email $LOGIN"
    echo
    exit 1
fi

eval $(op signin)
