#!/bin/bash

{{ if .os.linux -}}
echo "💡 Updating apt..."
sudo apt update -y

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}

echo "💡 Updating homebrew..."
brew update; HOMEBREW_NO_ENV_HINTS=true brew upgrade
