#!/bin/bash
{{ .chezmoi.sourceDir }}/scripts/setup-asdf.sh
{{ .chezmoi.sourceDir }}/scripts/update-tooling.sh
{{ .chezmoi.sourceDir }}/scripts/ollama/ollama-refresh.sh
{{ if eq .chezmoi.os "darwin" -}}
{{ .chezmoi.sourceDir }}/scripts/comfyui/comfyui-refresh.sh
{{ .chezmoi.sourceDir }}/scripts/fabric/fabric-refresh.sh
{{ end -}}

echo "💡 System initialisation done. Please open a new terminal now..."
