#!/bin/bash

{{ if .os.linux -}}
echo "💡 Updating apt..."
sudo apt update; sudo apt upgrade -y

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}

{{ if .os.macos -}}
softwareupdate --install --all --verbose;
mas upgrade;
{{ end -}}

echo "💡 Updating homebrew..."
brew update; HOMEBREW_NO_ENV_HINTS=true brew upgrade
HOMEBREW_NO_ENV_HINTS=true brew outdated --cask --greedy --verbose | grep -v \"(latest)\" | cut -f1 -d\" \" | xargs brew reinstall --cask

echo "💡 Updating sdkman..."
. "${HOME}/.sdkman/bin/sdkman-init.sh"
sdk upgrade
