#!/bin/bash
CONDA_PREFIX="$HOME/.miniconda3"

if ! [ -x "$CONDA_PREFIX/bin/conda" ]; then
    echo "🚀 Installing conda..."

    # Get the installer URL of miniconda
    {{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "arm64") }}
    url='https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-aarch64.sh'
    {{ else if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}
    url='https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh'
    {{ else if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") }}
    url='https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-arm64.sh'
    {{ else if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64") }}
    url='https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh'
    {{ else }}
    error 'No installation instructions found for: conda'
    exit 1
    {{ end }}

    CONDA_DIR="$HOME/.local/share/miniconda"
    mkdir -p $CONDA_DIR
    pushd $CONDA_DIR
    curl -O $url
    sh Miniconda3-latest-*.sh -b -u -p "$CONDA_PREFIX" && rm Miniconda3-latest-*.sh
    popd
fi
