& {{ .chezmoi.sourceDir }}/scripts/windows/install-tooling.ps1
& {{ .chezmoi.sourceDir }}/scripts/powershell/install.ps1
& {{ .chezmoi.sourceDir }}/scripts/windows/system/configure-system.ps1
& {{ .chezmoi.sourceDir }}/scripts/windows/system/configure-sshd.ps1
& {{ .chezmoi.sourceDir }}/scripts/windows/system/configure-wsl2.ps1
& {{ .chezmoi.sourceDir }}/scripts/windows/system/configure-docker-desktop.ps1
& {{ .chezmoi.sourceDir }}/scripts/windows/system/configure-ollama.ps1
