#!/bin/bash
export INSTALLATION_TYPE
INSTALLATION_TYPE=workstation

{{ if eq .chezmoi.os "darwin" }}
  echo "You are using macOS. 🍎"
  {{ .chezmoi.sourceDir }}/scripts/unix/macos/bootstrap-macos.sh
{{ else if eq .chezmoi.os "linux" }}
  {{ if eq .chezmoi.osRelease.id "alpine" }}
    echo "You are using Alpine Linux. 🏔️"
    echo "TODO add bootstrap script for Alpine Linux"
    exit 1
  {{ else if eq .chezmoi.osRelease.id "arch" }}
    echo "You are using Arch Linux. 🎗️"
    echo "TODO add bootstrap script for Arch Linux"
    exit 1
  {{ else if eq .chezmoi.osRelease.id "debian" }}
    echo "You are using Debian GNU/Linux. 🌀"
    {{ .chezmoi.sourceDir }}/scripts/unix/debian/bootstrap-debian.sh
  {{ else if eq .chezmoi.osRelease.id "ubuntu" }}
    echo "You are using Ubuntu. 🎯"
    {{ .chezmoi.sourceDir }}/scripts/unix/debian/bootstrap-debian.sh
  {{ else if eq .chezmoi.osRelease.id "fedora" }}
    echo "You are using Fedora. 🎩"
    echo "TODO add bootstrap script for Fedora"
    exit 1
  {{ else if eq .chezmoi.osRelease.id "centos" }}
    echo "You are using CentOS. 💠"
    echo "TODO add bootstrap script for CentOS"
    exit 1
  {{ else if eq .chezmoi.osRelease.id "mint" }}
    echo "You are using mint. 🌿"
    {{ .chezmoi.sourceDir }}/scripts/unix/debian/bootstrap-debian.sh
    exit 1
  {{ else if eq .chezmoi.osRelease.id "opensuse" }}
    echo "You are using openSUSE. 🦎"
    echo "TODO add bootstrap script for openSUSE"
    exit 1
  {{ else }}
    echo "You are using a Linux distribution that is not supported by this script. 🐧"
    exit 1
  {{ end }}

  {{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    INSTALLATION_TYPE=wsl
    echo "You are running this Linux environment on Windows Subsystem for Linux 2. 🪟🐧"
    {{ if eq .chezmoi.osRelease.id "debian" }}
      {{ .chezmoi.sourceDir }}/scripts/unix/debian/bootstrap-debian-wsl.sh
    {{ else if eq .chezmoi.osRelease.id "ubuntu" }}
      {{ .chezmoi.sourceDir }}/scripts/unix/debian/bootstrap-debian-wsl.sh
    {{ end -}}
  {{ else if eq (env "REMOTE_CONTAINERS") "true" }}
    INSTALLATION_TYPE=devcontainer
    echo "You are running this Linux environment with devcontainer. 🐳"
  {{ end }}
{{ end }}

{{ if eq .chezmoi.os "linux" -}}
  {{ if eq .chezmoi.osRelease.id "debian" }}
    {{ .chezmoi.sourceDir }}/scripts/unix/debian/install-debian-tooling.sh
  {{ else if eq .chezmoi.osRelease.id "ubuntu" }}
    {{ .chezmoi.sourceDir }}/scripts/unix/debian/install-debian-tooling.sh
  {{ end -}}
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
  {{ .chezmoi.sourceDir }}/scripts/unix/macos/install-macos-tooling.sh
  {{ .chezmoi.sourceDir }}/scripts/unix/macos/configure-macos.sh
{{ end -}}
