[user]
  name = {{ .user.name }}
  email = {{ .user.email }}

[color]
  ui = true

[github]
  user = benc

[core]
  editor = {{ .editor }}
  pager = delta

  {{ if eq .chezmoi.os "windows" }}
  autocrlf = false
  eol = lf
  filemode = false
  longpaths = true
  fscache = true
  {{ end }}

  {{- if and (.chezmoi.osRelease) ( contains "wsl" ( lower .chezmoi.kernel.osrelease )) -}}
  autocrlf = false
  eol = lf
  filemode = false
  {{ end }}

[interactive]
  diffFilter = delta --color-only

[delta]
  line-numbers = true

[help]
  autocorrect = 1

[pull]
  rebase = true

[push]
  default = simple

[init]
  defaultBranch = main

[safe]
	directory = *

[user]
  # from 1password
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPfw39lhA+fsCkUzswDDLIuEmU4k0J267ZShiSY0Jand

{{ if eq .chezmoi.os "windows" }}
[credential]
  helper = manager
  
[credential "helperselector"]
  selected = manager
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
[credential]
  helper = osxkeychain
{{ end }}

[gpg]
  format = ssh

{{ if eq .chezmoi.os "windows" }}
[gpg "ssh"]
  program = "C:/Users/ben/AppData/Local/1Password/app/8/op-ssh-sign.exe"
  allowedSignersFile = {{ .chezmoi.homeDir }}/.config/git/allowed_signers
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  allowedSignersFile = {{ .chezmoi.homeDir }}/.config/git/allowed_signers
{{ end }}

[commit]
  gpgsign = true

{{ if eq .chezmoi.os "darwin" }}
[diff]
  tool = Kaleidoscope

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]
  prompt = false

[merge]
  tool = Kaleidoscope
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

[mergetool]
  prompt = false
{{ end }}

{{ if eq .chezmoi.os "windows" }}
[diff]
  tool = BeyondCompare

[difftool "BeyondCompare"]
  cmd = \"C:/Program Files/Beyond Compare 4 /BCompare.exe\" \"$LOCAL\" \"$REMOTE\"

[difftool]
  prompt = false

[merge]
  tool = BeyondCompare
[mergetool "BeyondCompare"]
  cmd = \"C:/Program Files/Beyond Compare 4 /BCompare.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
  trustExitCode = true

[mergetool]
  prompt = false
{{ end }}
