#!/bin/bash
export INSTALLATION_TYPE

{{ if eq .chezmoi.osRelease.id "debian" }}
  echo "You are using Debian GNU/Linux. 🌀"
{{ else if eq .chezmoi.osRelease.id "ubuntu" }}
  echo "You are using Ubuntu. 🎯"
{{ else if eq .chezmoi.osRelease.id "mint" }}
  echo "You are using mint. 🌿"
{{ else }}
  echo "You are using a Linux distribution that is not supported by this script. 🐧"
  exit 1
{{ end }}

{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  INSTALLATION_TYPE=wsl
  echo "You are running this Linux environment on Windows Subsystem for Linux 2. 🪟🐧"
{{ else if eq (env "REMOTE_CONTAINERS") "true" }}
  INSTALLATION_TYPE=devcontainer
  echo "You are running this Linux environment with devcontainer. 🐳"
{{ else }}
  INSTALLATION_TYPE=workstation
{{ end }}

echo "INSTALLATION_TYPE is set to $INSTALLATION_TYPE."
