# 💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n"
{{- $name := "Ben Cochez" -}}
{{- $email := "ben@kyber.be" -}}
{{- $username := "benc" -}}

{{- $data := . }}
{{- $_ := set $data "host" (default (dict) (get $data "host")) -}}
{{- $_ := set $data "user" (default (dict) (get $data "user")) -}}
{{- $_ := set $data "username" (default (dict) (get $data "username")) -}}

# 💡
#
#

sourceDir = "{{ .chezmoi.workingTree }}"
verbose = true

[interpreters.ps1]
    command = "pwsh.exe"
    args = ["-NoLogo", "-NoProfile", "-ExecutionPolicy", "Bypass"]

{{ if eq .chezmoi.os "windows" -}}
[cd]
    command = "pwsh.exe"
    args = ["-NoLogo", "-NoExit", "-Command", "& {Set-Location $env:HOMEPATH/.local/share/chezmoi}"]
{{- end }}

{{ if eq .chezmoi.os "darwin" -}}
[diff]
    command = "/usr/local/bin/ksdiff"

[merge]
    command = "/usr/local/bin/ksdiff"
{{- end }}

{{ if eq .chezmoi.os "windows" -}}
[diff]
    command = "C:/Program Files/Beyond Compare 4/BCompare.exe"

[merge]
    command = "C:/Program Files/Beyond Compare 4/BCompare.exe"
{{- end }}

[edit]
    command = "code-insiders"

[git]
    autoCommit = true

[data]
    editor = "code-insiders"

[data.user]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    username = {{ $username | quote }}
