# 💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n"
{{- $name := "Ben Cochez" -}}
{{- $email := "ben@kyber.be" -}}
{{- $username := "benc" -}}
{{- $installationType := env "INSTALLATION_TYPE" -}}
{{- $applySecrets := env "APPLY_SECRETS" -}}

# 💡
#
#

sourceDir = "{{ .chezmoi.workingTree }}"
verbose = true

[interpreters.ps1]
    command = "pwsh.exe"
    args = ["-NoLogo", "-NoProfile", "-ExecutionPolicy", "Bypass"]

{{ if eq .chezmoi.os "windows" -}}
[cd]
    command = "pwsh.exe"
    args = ["-NoLogo", "-NoExit", "-Command", "& {Set-Location $env:HOMEPATH/.local/share/chezmoi}"]
{{- end }}

[diff]
    command = "difft"
    args = ["{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
    pager = "diff-so-fancy"
    exclude = ["scripts","externals"]

{{ if eq .chezmoi.os "darwin" -}}
[merge]
    command = "/usr/local/bin/ksdiff"
{{- end }}

{{ if eq .chezmoi.os "windows" -}}
[merge]
    command = "C:/Program Files/Beyond Compare 5/BCompare.exe"
{{- end }}

[edit]
    command = "codei"

[git]
    autoCommit = true

[data]
    editor = "codei"

[data.user]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    username = {{ $username | quote }}

[data.machine]
    applySecrets = {{ $applySecrets | quote }}
    installationType = {{ $installationType | quote }}
