#!/usr/bin/env bash
if [ -n "${GHOSTTY_RESOURCES_DIR}" ]; then
    builtin source "${GHOSTTY_RESOURCES_DIR}/shell-integration/bash/ghostty.bash"
fi

HISTCONTROL="ignorespace${HISTCONTROL:+:$HISTCONTROL}"

{{ if eq .chezmoi.os "darwin" -}}
export BASH_SILENCE_DEPRECATION_WARNING=1
{{- end }}
