#!/usr/bin/env bash
if type direnv &>/dev/null; then
  eval "$(direnv hook bash)"
fi

if type zoxide &>/dev/null; then
  export _ZO_EXCLUDE_DIRS="$HOME:$HOME/.local/*:$HOME/.var/*:/Volumes/*"
  eval "$(zoxide init bash)"
fi

if [ -d "${HOME}/.orbstack" ]; then
  source ${HOME}/.orbstack/shell/init.bash 2>/dev/null || :
fi
