#!/bin/bash
export LANG='en_US.UTF-8'
export EDITOR=code
export PATH="$HOME/bin:./node_modules/.bin:/usr/local/bin:/usr/local/sbin:$PATH"

{{ if .os.macos -}}
export PATH=$PATH:/opt/homebrew/bin
{{- end }}
