#!/bin/bash
if type direnv &>/dev/null; then
    eval "$(direnv hook bash)"
fi

if type zoxide &>/dev/null; then
    eval "$(zoxide init bash)"
fi

if type starship &>/dev/null; then
    eval "$(starship init bash)"
fi

if type navi &>/dev/null; then
    eval "$(navi widget bash)"

    # navi repo add https://github.com/denisidoro/cheats
    # navi repo add https://github.com/denisidoro/navi-tldr-pages
fi
