{{ if eq .chezmoi.os "darwin" -}}
Include ~/.orbstack/ssh/config
{{ end -}}

Host *
  {{ if eq .chezmoi.os "darwin" -}}
  # Allow storing passphrases in the macOS keychain.
  # See https://developer.apple.com/library/archive/technotes/tn2449/_index.html
  UseKeychain yes
  AddKeysToAgent yes

  {{ end -}}

  ServerAliveCountMax 6
  ServerAliveInterval 300

  {{ if eq .chezmoi.os "darwin" -}}
  # Use 1Password ssh agent
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
  {{ end -}}
  {{ if eq .chezmoi.os "linux" -}}
  # Use 1Password ssh agent
  IdentityAgent "~/.1password/agent.sock"
  {{ end }}

Host localhost
  # Disable strict host key checking for tunnels
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
