<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>OtherJobEnabled</key>
		<dict>
			<key>org.gpgtools.macgpg2.shutdown-gpg-agent</key>
			<true/>
		</dict>
	</dict>
	<key>Label</key>
	<string>consulting.cochez.yubikey-ssh-support</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>-c</string>
		<string>$HOME/.dotfiles/yubikey/yubikey-ssh-support</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/consulting.cochez.yubikey-ssh-support.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/consulting.cochez.yubikey-ssh-support.stdout</string>
</dict>
</plist>
