#!/bin/bash
if (( ${+commands[direnv]} )); then
  eval "$(direnv hook zsh)"
fi

if (( ${+commands[zoxide]} )); then
  eval "$(zoxide init zsh)"
fi

if (( ${+commands[starship]} )); then
  eval "$(starship init zsh)"
fi

if (( ${+commands[navi]} )); then
  eval "$(navi widget zsh)"

  # navi repo add https://github.com/denisidoro/cheats
  # navi repo add https://github.com/denisidoro/navi-tldr-pages
fi

if (( ${+commands[sheldon]} )); then
  eval "$(sheldon source)"
fi
