#!/bin/bash

{{ if .os.macos -}}
if (( ${+commands[brew]} )); then
  fpath+="$(brew --prefix)/share/zsh/site-functions"
  fpath+="$(brew --prefix)/share/zsh-completions"
fi
{{ end -}}

# vfox
if (( ${+commands[vfox]} )); then
  eval "$(vfox activate zsh)"
fi

# pipenv
if (( ${+commands[pipenv]} )); then
  eval "$(_PIPENV_COMPLETE=zsh_source pipenv)"
fi

# pip
if (( ${+commands[pip]} )); then
  eval "$(pip completion --zsh)"
fi

# chezmoi
if (( ${+commands[chezmoi]} )); then
  eval "$(chezmoi completion zsh)"
fi

# 1password
if (( ${+commands[op]} )); then
    eval "$(op completion zsh)"
fi

# awscli
if (( ${+commands[aws]} )); then
    complete -C '/usr/local/bin/aws_completer' aws
fi

# kubectl
if (( ${+commands[kubectl]} )); then
    source <(kubectl completion zsh)
fi
