# #!/bin/bash
# if (( ${+commands[navi]} )); then
#     eval "$(navi widget zsh)"

#     # navi repo add https://github.com/denisidoro/cheats
#     # navi repo add https://github.com/denisidoro/navi-tldr-pages
# fi
