{{ if .os.macos -}}
# Homebrew on mac
Add-Content -Path $PROFILE.CurrentUserAllHosts -Value '$(/opt/homebrew/bin/brew shellenv) | Invoke-Expression'
{{- end }}

{{ if .os.windows -}}
If (Test-Path "$env:USERPROFILE\miniconda3\Scripts\conda.exe") {
    (& "$env:USERPROFILE\miniconda3\Scripts\conda.exe" "shell.powershell" "hook") | Out-String | ?{$_} | Invoke-Expression
}{{- end }}
