'exception-reporting':
  'userId': '9c2c47d0-e960-2bde-bfbe-afb1e1a166a2'
'release-notes':
  'viewedVersion': '0.75.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '0a1f5b2c6cf0a03b5fc64fdef35fb1c8cdc73671'
'editor':
  'fontSize': 12
  'fontFamily': 'Source Code Pro for Powerline'
'core':
  'themes': [
    'atom-dark-ui'
    'monokai'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
