if [ -n "${GHOSTTY_RESOURCES_DIR}" ]; then
    source ${GHOSTTY_RESOURCES_DIR}/shell-integration/zsh/ghostty-integration
fi

setopt AUTOCD # ..
setopt interactive_comments # needed for zsh-autocomplete

### compedit
autoload -U +X compinit && compinit
autoload -U +X bashcompinit && bashcompinit 

### HISTORY ###
export HISTFILE=~/.zsh_history
export HISTSIZE=10000
export SAVEHIST=10000
setopt EXTENDED_HISTORY
setopt INC_APPEND_HISTORY
setopt SHARE_HISTORY
setopt HIST_IGNORE_SPACE
setopt HIST_SAVE_NO_DUPS
setopt HIST_REDUCE_BLANKS
setopt HIST_VERIFY
