#!/usr/bin/env zsh
if (( ${+commands[direnv]} )); then
  eval "$(direnv hook zsh)"
fi

if (( ${+commands[zoxide]} )); then
  export _ZO_EXCLUDE_DIRS="$HOME:$HOME/.local/*:$HOME/.var/*:/Volumes/*"
  eval "$(zoxide init zsh)"
fi

if (( ${+commands[starship]} )); then
  eval "$(starship init zsh)"
fi

if (( ${+commands[sheldon]} )); then
  eval "$(sheldon source)"
fi

if [ -d "${HOME}/.orbstack" ]; then
  source ${HOME}/.orbstack/shell/init.zsh 2>/dev/null || :
fi
